body {
  background-color: #f8f9fa;
}
.logo{
	width: 200px;
}
nav{
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav ul li{
	display: inline-block;
	list-style: none;
	margin: 20px 15px;
}

nav ul li a{
	text-decoration: none;
	color: #555;
	font-weight: 400;
}

.heading{
	text-align: center; 
	font-size: 2rem;
	color: #333; 
	padding:1rem;
	margin: 2rem 0;
	background: #F7B504 ;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }


 .impact-card {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .impact-card:hover {
    transform: scale(1.05);
}

footer {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 14px;
}

footer p:hover {
  color: #ffc107; 
}